<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "uk.co.mgp.pgpu"
    version   = "1.0.0">

<name>PU</name>

<description>
A simple pu application.
</description>

<author href="https://example.com" email="anant.nigam@mgp.ltd.uk">
Anant Nigam
</author>

<icon src="icon.png" width="114" height="114" />

<gap:splash src="splash.png" width="320" height="480" />

</widget>
